.banner-image{
    background-image: url('../imgs/drone.jpg');
    background-size: cover;
}
@media only screen and (min-width:768px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }
} 
.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}
@media (max-width: 920px){
    .arrow{
        /* z-index: 1;
        background-color: #fff;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s; */
        display: none;
    }
}


  @media screen and (min-width: 1000px) {
    .sidebar {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
      .navbar-screen{
          display: none;
      }
      .sidebar {
        position: fixed;
        opacity: 1;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        background-color: white;
        display: grid;
        grid-template-rows: auto 1fr auto;
        row-gap: 1rem;
        transform: translate(-100%);
        transition: var(--transition);
        transition: all 0.4s linear;
      }
      .sidebar ul{
          padding-left: 2rem;

      }
      .show-sidebar {
        transform: translate(0);
      }
      .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
      }
      .close-btn {
        font-size: 1.5rem;
        background: transparent;
        border-color: transparent;
      }
      /* .sidebar-toggle {
        position: relative;
        top: 0rem;
        right: 3rem;
        font-size: 2rem;
        background: transparent;
      } */

     .bottom-icons{
         position: fixed;
         bottom: 0;
         overflow: hidden;
     }
     
      .social-icons {
        padding-bottom: 2rem;
        font-size: 1.5rem;
      }
      
  }