{% extends 'web/base.html' %}
{% load static %}

{% block extrahead %}

{% endblock %}

{% block title %}Home{% endblock %}

{% block body%}

    <!-- Banner Image  -->
    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="content text-center">
            <h1 class="text-white">BEYOND GRAVITY</h1>
        </div>
    </div>


    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus praesentium dolorum animi sint ut
            nam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni excepturi possimus quis qui eligendi eius
            repellendus praesentium est laborum, harum incidunt nulla esse dolores. Mollitia cum vitae, quae rerum
            placeat expedita non magni, nihil corrupti debitis sed laborum ea rem similique ad fugiat natus eos
            inventore explicabo accusamus! Officia, soluta!</p>
    </div>

{% endblock %}

{% block js %}

{% endblock %}